// Default parameters
params {
    reads = "test-data/*.fastq"
    outdir = "results"
}

// Process configuration
process {
    cpus = 2
    memory = '2 GB'
}

// Profiles
profiles {
    docker {
        docker.enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        process.container = 'biocontainers/fastqc:latest'
    }
    
    test {
        params.reads = "test-data/*.fastq"
    }
}

// Manifest
manifest {
    name = 'fastqc-pipeline'
    author = 'Your Name'
    description = 'A basic pipeline to run FastQC on FastQ files'
    version = '1.0'
}